@model KwikKwekSnack.Models.OrderViewModel
@{
	ViewData["Title"] = "CreateDrinkOrder";
}


<style>
	.button-divs {
		padding: 0;
	}
</style>


<div class="flex-fill custom-container">
	<h1>Kies drankjes</h1>
	<div class="container-fluid bg-light">
		<div class="row">
			<div class="col-sm-10">
				<div class="row offset-1">
				@{
						int i = 0;

						foreach(var drink in Model.AllDrinks)
						{
							if(i++ % 3 == 0)
							{
								@:</div><div class="row offset-1">
							}
							@:<div class="col-sm">
											 
								if(drink.ImageURL == null || drink.ImageURL == "")
								{
									 <a asp-action="AddDrink" asp-route-drinkId="@drink.Id">
										<img src= "https://www.clker.com/cliparts/q/L/P/Y/t/6/no-image-available-md.png" class="rounded mx-auto d-block mw-25 mh-25 shadow mt-2" style="width: 180px; height: 180px;" alt="Geen afbeelding beschikbaar"/>
									 </a>                                   
								}
								else
								{
									<a asp-action="AddDrink" asp-route-drinkId="@drink.Id">
										<img src= "@Url.Content(drink.ImageURL)" class="rounded mx-auto d-block mw-25 mh-25 shadow mt-2" style="width: auto; height: 180px;" alt="Geen afbeelding beschikbaar" />
									</a>     
								}           
															
								@: <div class="flex text-center"><h3> @drink.Name </h3></div>                                
							@:</div>
						}                        
						while(i%3 != 0)
						{
							<div class="col-sm">
							</div>
							i++;
						}
					}</div>                    
				</div>

				<!-- sidebar -->
				<div class="col-sm-2 w-25 bg-secondary">
					<div class="d-flex justify-content-center">
						<h4>Bestellingen</h4>
					</div>
					<div class="d-flex justify-content-end">
						<ul class="list-group">
						@{
							if(Model.SnackOrders != null)
							{
								int snackOrderIndex = 0;
								foreach (var snackOrder in Model.SnackOrders)
								{
									string cost = snackOrder.GetFormattedPrice() ?? "€0.00";

									<li class="list-group-item mb-2 shadow bg-body rounded">
										<div class="row">
											<div class="col-8 w-75 font-weight-light">
													@snackOrder.Snack.Name
													@{
														foreach (var extra in snackOrder.ChosenExtras)
														{
															var nameString = "+ " + extra.Name;												
															@nameString                                            
														}
														<p>
															@cost
														</p>                                        
													}
											</div>
												<div class="col-sm text-right">
													<a class="text-danger font-weight-bold" asp-action="RemoveSnackOrder" asp-route-snackOrderIndex="@snackOrderIndex">X</a>
												</div>		
										</div>															
									</li>
									snackOrderIndex++;
								}
							}
							if(Model.DrinkOrders != null)
							{
								int drinkOrderIndex = 0;
								foreach (var drinkOrder in Model.DrinkOrders)
								{
									string cost = drinkOrder.GetFormattedPrice() ?? "€0.00";

									<li class="list-group-item mb-2 shadow bg-body rounded">
										<div class="row">
											<div class="col-8 w-75 font-weight-light">
										@drinkOrder.Drink.Name 
										@{
											foreach (var extra in drinkOrder.ChosenExtras)
											{
												var nameString = "+ " + extra.Name;												
												@nameString                                           
											}
											<p>
												@cost
											</p> 
										}
											</div>
											<div class="col-sm text-right">
												<a class="text-danger font-weight-bold" asp-action="RemoveDrinkOrder" asp-route-drinkOrderIndex="@drinkOrderIndex">X</a>
											</div>
										</div>
									</li>
									drinkOrderIndex++;
								}
							}
						}
							
						</ul>
					</div>
					<div class="font-weight-light">
						<p>
							@{
								string price = Model.GetFormattedPrice() ?? "€0.00";
							}
							Totale prijs: @price
						</p>                
					</div>
				</div>
		</div>
		<!-- Navigation buttons -->		
		<div class="row">
			<div class="col-sm-10 button-divs">
				<div class="d-flex justify-content-start">
					<a class="btn btn-primary" asp-area="" asp-action="CreateSnackOrder">&laquo; Terug</a>						
				</div>
			</div>
			<div class="col-2 bg-secondary button-divs">
				<div class="d-flex justify-content-end">
					<a class="btn btn-primary" asp-area="" asp-action="Overview">Bestelling voltooien &raquo</a>						
				</div>
			</div>
		</div>
	</div>
</div>